[mysqld]
character-set-server=utf8mb4

# デフォルト認証プラグイン
default-authentication-plugin=mysql_native_password

# タイムゾーン
default-time-zone = UTC
log_timestamps = UTC

# クエリログ
general_log = 1

# スロークエリログ
slow_query_log = 1
long_query_time = 0.1

default_password_lifetime = 0

[mysql]
default-character-set = utf8mb4

[client]
default-character-set=utf8mb4

[mysqldump]
default-character-set = utf8mb4
