name: ci

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: '3.11'

jobs:
  ci:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
          cache-dependency-path: poetry.lock
      - name: Set Poetry environment
        run: |
          poetry env use ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          openssl version -d
          poetry install --no-root
      - name: Install CA Certificates
        run: sudo apt-get update && sudo apt-get install -y ca-certificates
      - name: Run
        run: |
          ls /etc/ssl/certs/
          make ci
